# vim temp files
*.swp

# jupyter notebooks temp files
.ipynb_checkpoints

# extra repos downloaded
pavics-sdi-*/
raven-*/
esgf-compute-api-*/

# files produced by build
conda-list-explicit-birdy.txt
environment-export-birdy.yml
buildout/
