# conda env create -f environment.yml
name: birdy
channels:
  - conda-forge
  - cdat
  - defaults
dependencies:
  - matplotlib
  - xarray
  - numpy
  - birdy
  - netcdf4
  - pydap
  - cartopy
  - descartes
  - rasterio
  - gdal  # for osgeo
  - tiledb=1.6.0  # pinned version for gdal-3.0.1, remove for future gdal
  # can re-enable xclim from conda once we have write access to
  # https://github.com/conda-forge/xclim-feedstock
  # - xclim
  # for esgf notebooks
  - esgf-compute-api
  - cdms2
  - vcs
  - mesalib
  # tests
  - pytest
  - nbval
  # to edit .ipynb
  - jupyter
  # to be launched by image jupyterhub/jupyterhub
  - notebook
  - jupyterlab
  - jupyterhub
  # to diff .ipynb files
  - nbdime
  # Voila turns Jupyter notebooks into standalone web applications
  - voila
  # utilities
  - curl
  - wget
  # for pip packages
  - pip
  - pip:
    - xclim
    # visual debugger for Jupyter Notebook, not working with JupyterLab at this moment
    - pixiedust
